<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="left img-box">
            <img src="https://sta.gtimg.com/qd6/images/loginBg.jpg" alt="">
        </div>
        <div class="right login-box" id="login-box">
            <div class="input">
                <input type="text" placeholder="账号" v-model="aid">
            </div>
            <div class="input">
                <input type="password" placeholder="密码" v-model="pwd">
            </div>
            <div class="input">
                <div class="left">
                    <input type="checkbox">自动登录
                </div>
                <div class="right">
                    <a href="">忘记密码</a>
                </div>
            </div>
            <div class="input btn" style="clear: both;">
                <button @click="login()">登录</button>
            </div>

        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/login.js"></script>
</body>
</html>