* {
    margin: 0 auto;
    padding: 0;
}

#menu {
    position: fixed;
    top: 0;
    left: calc( 10% - 60px );
    background-color: #F6F1E7;
}
#menu ul{
    display: inline-block;
    list-style-type: none;
}
#menu ul li {
    width: 58px;
    height: 58px;
    text-align: center;
    border: 1px solid #CCC;
}

#content {
    margin:0 10%;
}
#content > div {
    box-shadow: 3px 3px 15px black;
    background-color: #F6F1E7;
}

.index {
    text-align: center;
}

#content p {
    margin: 15px 10px;
}